.main {
    width: 100%;
    height: 100%;
}
@supports (display: flex)  {
    .section {
        display: flex;
        flex-direction: column;
        padding: 0 0;
        height: 80%;
    }
}
.boxContainer {
    width: 100%;
    height: 95%;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0 0;
    margin-top: 3rem;
}
@media (min-width: 426px) {
    .boxContainer {
        width: 28rem;
        height: 31.25rem;
        border: 0.1rem solid rgba(128, 128, 128, 0.595);
        padding: 2rem 3.2rem;
        margin: 8.3rem auto 0;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
}
@media (min-width: 769px) {
}
.centeringContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand {
    color: #ffac40;
    font-size: 2rem;
}
.containerSeparator {
    margin-bottom: 1rem;
}
.featureName {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lato', sans-serif;    /* to make it look like system font */
}
@media (min-width: 426px) and (max-width: 768px) {
    .formContainer {

    }
}
@media (min-width: 769px) {
}
.fieldContainer label,
.fieldContainer input {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.formfieldSeparator {
    margin-bottom: 0.5rem !important;
}
/* className={`${classes.formContainer}`} */